<template>
  <div>
    <b-row align-h="center">
      <h3>{{$t('conferences.conferences')}}</h3>
    </b-row>
    <b-row class="alert alert-danger" role="alert" v-if="errorMessage">{{errorMessage}}</b-row>
    <b-row align-h="end">
      <b-form-group>
        <b-form-row>
          <b-col>
            <b-button variant="primary" @click="toggleAddConferenceModal">{{$t('conferences.add_conference')}}
            </b-button>
          </b-col>
        </b-form-row>
      </b-form-group>
    </b-row>
    <b-row v-if="conferences.length > 0">
      <b-table id="conferences-table"
               striped
               bordered
               head-variant="dark"
               hover
               :items="conferences"
               :per-page="perPage"
               :fields="getFields()"
               stacked="sm">
        <template v-slot:cell(conferenceStatus)="data">
          <b class="text-info">{{$t('conference_status.' + data.value)}}</b>
        </template>
        <template v-slot:cell(room)="data">
          <b v-if="data.item.room">{{data.item.room.name}}</b>
          <b v-else>N/A</b>
        </template>
        <template v-slot:cell(actions)="data">
          <div class="text-center">
            <b-button v-if="!data.item.room && data.item.conferenceStatus !== 'CANCELED'" @click="addRoom(data.item.id)">Add room</b-button>
            &nbsp;
            <b-button v-if="data.item.conferenceStatus !== 'CANCELED'" @click="cancelConference(data.item.id)">Cancel</b-button>
          </div>
          <!--todo add action activate if canceled-->
        </template>
      </b-table>
      <b-pagination
              v-model="currentPage"
              :total-rows="rows()"
              :per-page="perPage"
              aria-controls="conferences-table"
              @input="loadData()"
      ></b-pagination>
    </b-row>
    <b-row align-h="center" v-if="!conferences || conferences.length === 0">
      {{$t('msg.no_results')}}
    </b-row>
    <b-modal id="add-conference"
             v-model="showAddConferenceModal"
             no-close-on-esc
             no-close-on-backdrop
             centered
             hide-footer>
      <template v-slot:modal-title>
        {{$t('conferences.add_conference')}}
      </template>
      <b-form @submit.stop.prevent="validateBeforeSubmit('conferenceForm')"
              data-vv-scope="conferenceForm">
        <b-form-group :invalid-feedback="errors.first('conferenceForm.Conference Name')"
                      :state="!errors.has('conferenceForm.Conference Name')">
          <b-form-input v-model="conference.name"
                        v-bind:placeholder="$t('conferences.conference_name')"
                        v-validate="'required'"
                        name="Conference Name"
                        type="text"
                        size="lg"/>
        </b-form-group>
        <b-form-group :invalid-feedback="errors.first('conferenceForm.Conference Date')"
                      :state="!errors.has('conferenceForm.Conference Date')">
          <b-form-datepicker v-model="conference.date"
                             :min="new Date()"
                             v-bind:placeholder="$t('conferences.conference_date')"
                             v-validate="'required'"
                             name="Conference Date"/>
        </b-form-group>
        <b-form-group :invalid-feedback="errors.first('conferenceForm.Conference Time')"
                      :state="!errors.has('conferenceForm.Conference Time')">
          <b-form-timepicker v-model="conference.time"
                             v-bind:placeholder="$t('conferences.conference_time')"
                             v-validate="'required'"
                             name="Conference Time"/>
        </b-form-group>
        <b-button size="sm" type="submit" variant="success">{{$t('btn.save')}}</b-button>
        &nbsp;
        <b-button size="sm" type="cancel" variant="danger" @click="closeAddConferenceModal()">
          {{$t('btn.cancel')}}
        </b-button>
      </b-form>
    </b-modal>
    <b-modal id="add-room"
             v-model="showAddRoomModal"
             no-close-on-esc
             no-close-on-backdrop
             centered
             hide-footer>
      <template v-slot:modal-title>
        {{$t('conferences.add_room')}}
      </template>
      <span v-if="availableRooms.length > 0">
        <b-form @submit.stop.prevent="validateAndSaveRoom('roomForm')"
                data-vv-scope="roomForm">
          <b-form-group :invalid-feedback="errors.first('roomForm.Room Name')"
                        :state="!errors.has('roomForm.Room Name')"
                        v-bind:label="$t('conferences.select_room')">
            <b-form-select v-model="addRoomModel.roomId"
                           :options="availableRooms"
                           value-field="id"
                           text-field="name"
                           v-validate="'required'"
                           name="Room Name"/>
          </b-form-group>
          <b-button size="sm" type="submit" variant="success">{{$t('btn.save')}}</b-button>
          &nbsp;
          <b-button size="sm" type="cancel" variant="danger" @click="closeAddRoomModal()">
            {{$t('btn.cancel')}}
          </b-button>
        </b-form>
      </span>
      <b-row align-h="center" v-if="!availableRooms || availableRooms.length === 0">
        {{$t('msg.no_results')}}
        <b-button size="sm" type="cancel" variant="danger" @click="closeAddRoomModal()">
          {{$t('btn.close')}}
        </b-button>
      </b-row>
    </b-modal>
  </div>
</template>

<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';
    import {conferenceService} from '@/services/conference.service';
    import toast from '@/services/toast';
    import {roomService} from '@/services/room.service';

    @Component({})
    export default class Conferences extends Vue {

        private conferences: any = [];
        private availableRooms: any = [];
        private errorMessage = '';

        // paging
        private perPage = 10;
        private currentPage = 1;
        private totalElements: any;

        private showAddConferenceModal = false;
        private showAddRoomModal = false;

        private conference = this.initConferenceModel();
        private addRoomModel = this.initAddRoomModel();

        private getFields() {
            return [
                {key: 'name', label: this.$t('conferences.name')},
                {key: 'date', label: this.$t('conferences.date')},
                {key: 'time', label: this.$t('conferences.time')},
                {key: 'conferenceStatus', label: this.$t('conferences.status')},
                {key: 'room', label: this.$t('conferences.room')},
                {key: 'numberOfParticipants', label: this.$t('conferences.number_of_participants')},
                {key: 'actions', label: this.$t('conferences.actions')},
            ];
        }

        private async created() {
            await this.loadData();
        }

        private rows() {
            return this.totalElements;
        }

        private async loadData() {
            try {
                const res = await conferenceService.listConferences({
                    page: this.currentPage - 1,
                    size: this.perPage,
                });
                this.conferences = res.data.content;
                this.totalElements = res.data.totalElements;
            } catch (error) {
                this.errorMessage = 'Error: ' + error.message;
            }
        }

        private toggleAddConferenceModal() {
            Object.assign(this.conference, this.initConferenceModel());
            this.showAddConferenceModal = true;
        }

        private closeAddConferenceModal() {
            this.showAddConferenceModal = false;
            this.$validator.reset();
        }

        private validateBeforeSubmit(scope: string) {
            this.$validator.validateAll(scope).then((validationResult) => {
                if (validationResult) {
                    conferenceService.saveConference(this.conference)
                        .then(() => {
                            this.closeAddConferenceModal();
                            this.loadData();
                            toast.success(this.$t('msg.conference_added') as string);
                        })
                        .catch((error) => {
                            toast.error(error.response.data.message);
                        });
                }
            });
        }

        private async addRoom(conferenceId: string) {
            try {
                const res = await roomService.findAvailableRoomByConferenceId(conferenceId);
                this.availableRooms = res.data;
                Object.assign(this.addRoomModel, this.initAddRoomModel());
                this.addRoomModel.conferenceId = conferenceId;
                this.showAddRoomModal = true;
            } catch (error) {
                this.errorMessage = 'Error: ' + error.message;
            }
        }

        private cancelConference(conferenceId: string) {
            conferenceService.cancelConference(conferenceId)
                .then(() => {
                    this.loadData();
                    toast.success(this.$t('msg.conference_canceled') as string);
                })
                .catch((error) => {
                    toast.error(error.response.data.message);
                });
        }

        private closeAddRoomModal() {
            this.showAddRoomModal = false;
            this.$validator.reset();
        }

        private validateAndSaveRoom(scope: string) {
            this.$validator.validateAll(scope).then((validationResult) => {
                if (validationResult) {
                    conferenceService.addRoomToConference(this.addRoomModel)
                        .then(() => {
                            this.closeAddRoomModal();
                            this.loadData();
                            toast.success(this.$t('msg.room_added') as string);
                        })
                        .catch((error) => {
                            toast.error(error.response.data.message);
                        });
                }
            });
        }

        private initConferenceModel() {
            return {
                name: '',
                date: null,
                time: null,
            };
        }

        private initAddRoomModel() {
            return {
                roomId: '',
                conferenceId: '',
            };
        }
    }
</script>

<style scoped>

</style>
