<template>
  <div>
    <b-row align-h="center">
      <h3>{{$t('participants.participants')}}</h3>
    </b-row>
    <b-row class="alert alert-danger" role="alert" v-if="errorMessage">{{errorMessage}}</b-row>
    <b-row align-h="end">
      <b-form-group>
        <b-form-row>
          <b-col>
            <b-button variant="primary" @click="toggleAddParticipantModal">{{$t('participants.add_participant')}}
            </b-button>
          </b-col>
        </b-form-row>
      </b-form-group>
    </b-row>
    <b-row v-if="participants.length > 0">
      <b-table id="participants-table"
               striped
               bordered
               head-variant="dark"
               fixed
               hover
               :items="participants"
               :per-page="perPage"
               small
               :fields="getFields()"
               stacked="sm">
        <template v-slot:cell(actions)="data">
          <b-row align-h="center">
            <b-button variant="success" @click="onRowSelected(data.item.id)">{{$t('btn.select')}}</b-button>
          </b-row>
        </template>
      </b-table>
      <b-pagination
              v-model="currentPage"
              :total-rows="rows()"
              :per-page="perPage"
              aria-controls="participants-table"
              @input="loadData()"
      ></b-pagination>
    </b-row>
    <b-row align-h="center" v-if="!participants || participants.length === 0">
      {{$t('msg.no_results')}}
    </b-row>
    <ParticipantConferences v-if="selectedParticipantId"
                            v-bind:participant-id="selectedParticipantId"/>
    <b-modal id="add-participant"
             v-model="showAddParticipantModal"
             no-close-on-esc
             no-close-on-backdrop
             centered
             hide-footer>
      <template v-slot:modal-title>
        {{$t('participants.add_participant')}}
      </template>
      <b-form @submit.stop.prevent="validateBeforeSubmit()">
        <b-form-group :invalid-feedback="errors.first('Participant Full Name')"
                      :state="!errors.has('Participant Full Name')">
          <b-form-input v-model="participant.fullName"
                        v-bind:placeholder="$t('participants.full_name')"
                        v-validate="'required'"
                        name="Participant Full Name"
                        type="text"
                        size="lg"/>
        </b-form-group>
        <b-form-group :invalid-feedback="errors.first('Participant Birth Date')"
                      :state="!errors.has('Participant Birth Date')">
          <b-form-datepicker v-model="participant.birthDate"
                             v-bind:placeholder="$t('participants.birth_date')"
                             v-validate="'required'"
                             name="Participant Birth Date"/>
        </b-form-group>
        <b-button size="sm" type="submit" variant="success">{{$t('btn.save')}}</b-button>
        &nbsp;
        <b-button size="sm" type="cancel" variant="danger" @click="closeAddParticipantModal()">
          {{$t('btn.cancel')}}
        </b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';
    import {participantService} from '@/services/participant.service';
    import toast from '@/services/toast';
    import ParticipantConferences from '@/components/ParticipantConferences.vue';

    @Component({
        components: {
            ParticipantConferences,
        },
    })
    export default class Participants extends Vue {

        private participants: any = [];
        private errorMessage = '';

        // paging
        private perPage = 10;
        private currentPage = 1;
        private totalElements: any;

        private showAddParticipantModal = false;

        private participant = this.initParticipantModel();
        private selectedParticipantId = null;

        private getFields() {
            return [
                {key: 'fullName', label: this.$t('participants.full_name')},
                {key: 'birthDate', label: this.$t('participants.birth_date')},
                {key: 'actions', label: ''},
            ];
        }

        private async created() {
            await this.loadData();
        }

        private rows() {
            return this.totalElements;
        }

        private async loadData() {
            try {
                const res = await participantService.listParticipants({
                    page: this.currentPage - 1,
                    size: this.perPage,
                });
                this.participants = res.data.content;
                this.totalElements = res.data.totalElements;
            } catch (error) {
                this.errorMessage = 'Error: ' + error.message;
            }
        }

        private toggleAddParticipantModal() {
            Object.assign(this.participant, this.initParticipantModel());
            this.showAddParticipantModal = true;
        }

        private closeAddParticipantModal() {
            this.showAddParticipantModal = false;
            this.$validator.reset();
        }

        private validateBeforeSubmit() {
            this.$validator.validateAll().then((validationResult) => {
                if (validationResult) {
                    participantService.saveParticipant(this.participant)
                        .then(() => {
                            this.closeAddParticipantModal();
                            this.loadData();
                            toast.success(this.$t('msg.participant_added') as string);
                        })
                        .catch((error) => {
                            toast.error(error.response.data.message);
                        });
                }
            });
        }

        private onRowSelected(item: any) {
            this.selectedParticipantId = item;
        }

        private initParticipantModel() {
            return {
                fullName: '',
                birthDate: null,
            };
        }

    }
</script>

<style scoped>

</style>
