<template>
  <div>
    <b-row align-h="center">
      <h3>{{$t('rooms.rooms')}}</h3>
    </b-row>
    <b-row class="alert alert-danger" role="alert" v-if="errorMessage">{{errorMessage}}</b-row>
    <b-row align-h="end">
      <b-form-group>
        <b-form-row>
          <b-col>
            <b-button variant="primary" @click="toggleAddRoomModal">{{$t('rooms.add_room')}}
            </b-button>
          </b-col>
        </b-form-row>
      </b-form-group>
    </b-row>
    <b-row v-if="rooms.length > 0">
      <b-table id="rooms-table"
               striped
               bordered
               head-variant="dark"
               fixed
               hover
               :items="rooms"
               :per-page="perPage"
               small
               :fields="getFields()"
               stacked="sm"
               selectable
               :select-mode="'single'">
      </b-table>
      <b-pagination
              v-model="currentPage"
              :total-rows="rows()"
              :per-page="perPage"
              aria-controls="rooms-table"
              @input="loadData()"
      ></b-pagination>
    </b-row>
    <b-row align-h="center" v-if="!rooms || rooms.length === 0">
      {{$t('msg.no_results')}}
    </b-row>
    <b-modal id="add-conference"
             v-model="showAddRoomModal"
             no-close-on-esc
             no-close-on-backdrop
             centered
             hide-footer>
      <template v-slot:modal-title>
        {{$t('rooms.add_room')}}
      </template>
      <b-form @submit.stop.prevent="validateBeforeSubmit()">
        <b-form-group :invalid-feedback="errors.first('Room Name')"
                      :state="!errors.has('Room Name')">
          <b-form-input v-model="room.name"
                        v-bind:placeholder="$t('rooms.room_name')"
                        v-validate="'required'"
                        name="Room Name"
                        type="text"
                        size="lg"/>
        </b-form-group>
        <b-form-group :invalid-feedback="errors.first('Room Location')"
                      :state="!errors.has('Room Location')">
          <b-form-input v-model="room.location"
                        v-bind:placeholder="$t('rooms.room_location')"
                        v-validate="'required'"
                        name="Room Location"
                        type="text"
                        size="lg"/>
        </b-form-group>
        <b-form-group :invalid-feedback="errors.first('Room Max Seats')"
                      :state="!errors.has('Room Max Seats')">
          <b-form-input v-model="room.maxSeats"
                        v-bind:placeholder="$t('rooms.max_seats')"
                        v-validate="'required'"
                        name="Room Max Seats"
                        type="number"
                        size="lg"/>
        </b-form-group>
        <b-button size="sm" type="submit" variant="success">{{$t('btn.save')}}</b-button>
        &nbsp;
        <b-button size="sm" type="cancel" variant="danger" @click="closeAddRoomModal">
          {{$t('btn.cancel')}}
        </b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';
    import {roomService} from '@/services/room.service';
    import toast from '@/services/toast';

    @Component
    export default class Rooms extends Vue {

        private rooms: any = [];
        private errorMessage = '';

        // paging
        private perPage = 10;
        private currentPage = 1;
        private totalElements: any;

        private showAddRoomModal = false;

        private room = this.initRoomModel();

        private getFields() {
            return [
                {key: 'name', label: this.$t('rooms.name')},
                {key: 'location', label: this.$t('rooms.location')},
                {key: 'maxSeats', label: this.$t('rooms.max_seats')},
            ];
        }

        private async created() {
            await this.loadData();
        }

        private rows() {
            return this.totalElements;
        }

        private async loadData() {
            try {
                const res = await roomService.listRooms({
                    page: this.currentPage - 1,
                    size: this.perPage,
                });
                this.rooms = res.data.content;
                this.totalElements = res.data.totalElements;
            } catch (error) {
                this.errorMessage = 'Error: ' + error.message;
            }
        }

        private toggleAddRoomModal() {
            Object.assign(this.room, this.initRoomModel());
            this.showAddRoomModal = true;
        }

        private closeAddRoomModal() {
            this.showAddRoomModal = false;
            this.$validator.reset();
        }

        private validateBeforeSubmit() {
            this.$validator.validateAll().then((validationResult) => {
                if (validationResult) {
                    roomService.saveRoom(this.room)
                        .then(() => {
                            this.closeAddRoomModal();
                            this.loadData();
                            toast.success(this.$t('msg.room_added') as string);
                        })
                        .catch((error) => {
                            toast.error(error.response.data.message);
                        });
                }
            });
        }

        private initRoomModel() {
            return {
                name: '',
                location: '',
                maxSeats: null,
            };
        }
    }
</script>

<style scoped>

</style>
