<template>
  <div id="nav">
    <b-navbar toggleable="lg" type="dark" class="bg-dark-blue">
      <b-navbar-brand href="#">
        <img src="../assets/img/logo_tallinksilja_white.svg" alt="Logo">
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/conferences">{{$t('nav_bar.conferences')}}</b-nav-item>
          <b-nav-item to="/participants">{{$t('nav_bar.participants')}}</b-nav-item>
          <b-nav-item to="/rooms">{{$t('nav_bar.rooms')}}</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown :text="$t('nav_bar.lang')" right>
            <b-dropdown-item v-for="(lang, i) in langs"
                             :key="`Lang${i}`"
                             :value="lang"
                             @click="$i18n.locale = lang">{{lang}}</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class NavBar extends Vue {

        private langs = ['en', 'et', 'ru'];

    }
</script>

<style scoped>

  #nav {
    padding-bottom: 30px;
  }

  .bg-dark-blue {
    background-color: #004152 !important;
  }

</style>
