<template>
  <div>
    <b-row align-h="center">
      <h4>{{$t('participant_conferences.header')}}</h4>
    </b-row>
    <b-row class="alert alert-danger" role="alert" v-if="errorMessage">{{errorMessage}}</b-row>
    <b-row>
      <b>{{participantDetails.fullName}} {{participantDetails.birthDate}}</b>
    </b-row>
    <b-row v-if="participantDetails && participantDetails.conferences && participantDetails.conferences.length > 0">
      <b-table id="participant-conferences"
               striped
               bordered
               head-variant="dark"
               fixed
               hover
               :items="participantDetails.conferences"
               :fields="getFields()"
               stacked="sm"
               selectable
               :select-mode="'single'">
        <template v-slot:cell(room)="data">
          <b v-if="data.item.room">{{data.item.room.name}}</b>
          <b v-else>N/A</b>
        </template>
        <template v-slot:cell(actions)="data">
          <b-row align-h="center">
            <b-button variant="danger" @click="removeFromConference(data.item.id)">{{$t('btn.remove')}}</b-button>
          </b-row>
        </template>
      </b-table>
    </b-row>
    <b-row align-h="center" v-else>
      {{$t('msg.no_results')}}
    </b-row>
    <b-row align-h="end">
      <b-form-group>
        <b-form-row>
          <b-col>
            <b-button variant="primary" @click="addToConference">{{$t('participant_conferences.add_to_conference')}}
            </b-button>
          </b-col>
        </b-form-row>
      </b-form-group>
    </b-row>
    <b-modal id="add-to-conference"
             v-model="showAddToConferenceModal"
             no-close-on-esc
             no-close-on-backdrop
             centered
             hide-footer
             size="lg">
      <template v-slot:modal-title>
        {{$t('participant_conferences.add_to_conference')}}
      </template>
      <b-row v-if="availableConferences.length > 0">
        <b-table id="available-conferences-table"
                 striped
                 bordered
                 head-variant="dark"
                 fixed
                 hover
                 :items="availableConferences"
                 :per-page="perPage"
                 small
                 :fields="getFields()"
                 stacked="sm"
                 selectable
                 :select-mode="'single'">
          <template v-slot:cell(room)="data">
            <b v-if="data.item.room">{{data.item.room.name}}</b>
            <b v-else>N/A</b>
          </template>
          <template v-slot:cell(actions)="data">
            <b-row align-h="center">
              <b-button variant="success" @click="selectConference(data.item.id)">Select</b-button>
            </b-row>
          </template>
        </b-table>
        <b-pagination
                v-model="currentPage"
                :total-rows="rows()"
                :per-page="perPage"
                aria-controls="conferences-table"
                @input="loadAvailableConferences()"
        ></b-pagination>
      </b-row>
      <b-row align-h="center" v-else>
        {{$t('msg.no_results')}}
      </b-row>
      <b-button size="sm" type="cancel" variant="danger" @click="closeAddToConferenceModal()">
        {{$t('btn.cancel')}}
      </b-button>
    </b-modal>
  </div>

</template>

<script lang="ts">

    import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
    import {participantService} from '@/services/participant.service';
    import {conferenceService} from '@/services/conference.service';
    import {participantConferenceService} from '@/services/participant_conference.service';
    import toast from '@/services/toast';

    @Component
    export default class ParticipantConferences extends Vue {

        @Prop({
            required: true,
        }) private participantId!: string;

        private participantDetails: any = {};
        private errorMessage = '';

        // paging
        private perPage = 10;
        private currentPage = 1;
        private totalElements: any;

        private showAddToConferenceModal = false;

        private availableConferences: any = [];

        @Watch('participantId')
        private onParticipantIdChanged() {
            this.loadData();
        }

        private async created() {
            await this.loadData();
        }

        private rows() {
            return this.totalElements;
        }

        private getFields() {
            return [
                {key: 'name', label: this.$t('conferences.name')},
                {key: 'date', label: this.$t('conferences.date')},
                {key: 'time', label: this.$t('conferences.time')},
                {key: 'room', label: this.$t('conferences.room')},
                {key: 'actions', label: this.$t('conferences.actions')},
            ];
        }

        private async loadData() {
            try {
                const res = await participantService.getAllParticipantConferences(this.participantId);
                this.participantDetails = res.data;
            } catch (error) {
                this.errorMessage = 'Error: ' + error.message;
            }
        }

        private async loadAvailableConferences() {
            try {
                const res = await conferenceService.findAvailableConferencesToParticipate({
                    page: this.currentPage - 1,
                    size: this.perPage,
                    participantId: this.participantId,
                });
                this.availableConferences = res.data.content;
                this.totalElements = res.data.totalElements;
            } catch (error) {
                this.errorMessage = 'Error: ' + error.message;
            }
        }

        private async addToConference() {
            await this.loadAvailableConferences();
            this.showAddToConferenceModal = true;
        }

        private closeAddToConferenceModal() {
            this.showAddToConferenceModal = false;
        }

        private selectConference(conferenceId: any) {
            if (!conferenceId || !this.participantId) {
                this.errorMessage = this.$t('msg.missing_participant_or_conference_id') as string;
                this.showAddToConferenceModal = false;
                return;
            }
            participantConferenceService.addParticipantToConference({
                participantId: this.participantId,
                conferenceId,
            })
                .then(() => {
                    this.showAddToConferenceModal = false;
                    this.loadData();
                    toast.success(this.$t('msg.added_to_conference') as string);
                })
                .catch((error) => {
                    toast.error(error.response.data.message);
                });
        }

        private removeFromConference(conferenceId: any) {
            if (!conferenceId || !this.participantId) {
                this.errorMessage = this.$t('msg.missing_participant_or_conference_id') as string;
                return;
            }
            participantConferenceService.removeParticipantFromConference({
                participantId: this.participantId,
                conferenceId,
            })
                .then(() => {
                    this.showAddToConferenceModal = false;
                    this.loadData();
                    toast.success(this.$t('msg.removed_from_conference') as string);
                })
                .catch((error) => {
                    toast.error(error.response.data.message);
                });
        }
    }
</script>

<style scoped>

</style>
