<template>
  <div id="app">
    <NavBar></NavBar>
    <b-container>
      <router-view/>
    </b-container>
  </div>
</template>

<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';
    import NavBar from '@/components/NavBar.vue';

    @Component({
        components: {
            NavBar,
        },
    })
    export default class App extends Vue {

    }
</script>

<style>

  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');

  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

</style>
